@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 0.8em;
}
a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
ul {
    padding: 0;
}

header {
    div {
        padding: 20px 0;
        img {
            width: 80px;
        }
        li {
            font-weight: 800;
        }
        a {
            color: black;
        }
        .active-section {
            color: $primary-color;
        }
    }
}
.jumbo-main {
    height: 450px;
    overflow: hidden;
    background-image: url("/images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
}

footer {
    background-color: $secondary-color;
    button {
        background-color: $secondary-color;
        border: 2px solid $primary-color;
    }
    h4 {
        font-size: 1.4em;
        color: $primary-color;
        font-weight: 800;
        margin: 0 !important;
    }
    div {
        img {
            width: 30px;
            display: block;
        }
    }
}
