@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 0.8em;
}
a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
ul {
    padding: 0;
}

header {
    div {
        padding: 20px 0;
        img {
            width: 80px;
        }
        li {
            font-weight: 800;
        }
        a {
            color: black;
        }
        .active-section {
            color: $primary-color;
        }
    }
}
